// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.primary_black_color, .primary_black_color:hover{
    color: #000000;
}
.primary_white_color{
    color: #ffffff;
}

.dashboard-main{
    //max-width: 50%;
    margin: 20px auto;
    text-align: center;
}
.Polaris-Page{
    max-width: 1140px !important;
}
.token_main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.token_main .Polaris-Labelled__LabelWrapper {
    display: block;
    //width: 10%;
    //text-align: left;
}
.token_main + .Polaris-Button, .token_main{
    margin-top: 15px;
}
.token_main > div {
    max-width: 100%;
    //display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    margin-right: 20px;
}
.token_main .Polaris-Connected {
    display: block;
    width: 100%;
}
.token_main .Polaris-Button {
    width: 5%;
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}
.token-index-main .Polaris-DataTable .Polaris-Button {
    border: none;
    box-shadow: none;
    padding: 0;
}
.primary_black_color:hover, .token-index-main a{
    text-decoration: none;
}
.dashboard-index-main .Polaris-DataTable__Table tr:last-child, .token-index-main .Polaris-DataTable__Table tr:last-child {
    border-bottom: none;
}
.dashboard-index-main .Polaris-DataTable__Table tr:last-child, .token-index-main .Polaris-DataTable__Table tr {
    border-bottom: 1px solid #dbdbdb;
}
td.Polaris-DataTable__Cell.Polaris-DataTable__Cell--verticalAlignTop {
    color: #434343;
}
th.Polaris-DataTable__Cell.Polaris-DataTable__Cell--verticalAlignTop.Polaris-DataTable__Cell--firstColumn.Polaris-DataTable__Cell--header {
    font-weight: 700;
}
nav[aria-label="Pagination"] .Polaris-ButtonGroup--segmented .Polaris-ButtonGroup__Item button {
    padding: 0 30px;
}
nav[aria-label="Pagination"] .Polaris-ButtonGroup--segmented {
    justify-content: center;
    padding: 15px 0;
}
.Polaris-Card__Section ul {
    list-style: decimal;
}

.Polaris-Card__Section ul li {
    margin-bottom: 5px;
}
.Polaris-Card__Section p {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.Polaris-Card__Section p b {
    font-size: 1.7rem;
}
.installation-img{
    max-width: 100%;
    margin: 20px 0;
}
